//- truyền product ?

mixin header(title,user=null) 
  header
   nav(class='bg-red-500 text-white text-lg md:text-xl p-2 fixed top-0 w-full z-50 h-20 ')
     
      
      div(class='flex items-center justify-between mr-6 relative')
        i(class=(title==="home"?"hidden":"fas fa-arrow-left w-12 h-12 z-7 absolute top-2 left-6 " ) id="backButton")
        ul(class='hidden md:flex items-center space-x-16 mx-auto mt-2')
          li 
            a(href='/' class='bg-transparent text-white  no-underline'  ) 
              span(class='p-1 hover:bg-red-600 focus:text-gray-100 text-md font-bold no-underline') Trang Chủ
          li
            a(href='/category' class='bg-transparent text-white  no-underline') 
              span(class='p-1 hover:bg-red-600 focus:text-gray-100 text-md font-bold no-underline') Danh mục sản phẩm
         
        
        button(class="text-2xl md:hidden mr-8" id='menu')
          i(class="fas fa-bars")
        
        div(class='flex flex-col justify-center w-auto h-auto') 
          form.d-flex.bg-white.text-black.rounded-md.mr-8.mt-1.ml-2(action="/search") 
            input.form-control.me-2.border-white.border-none.shadow-none(
              type="search"
              placeholder="Tìm kiếm..."
              aria-label="Search"
              id='input_search'
              name='searchkey'
              
            )
            button.btn.btn-outline-primary.border-white.text-gray-700(type="submit")
              i.fas.fa-search
          div(class='h-auto w-60 ml-4 bg-yellow border-1  hidden' id='suggest')
        a( href="/login" class=" no-underline  border-3 border-white rounded-md w-28   flex font-medium  mt-1 text-sm h-8 mr-1 md:h-10 md:mr-3  md:text-lg p-1 text-white" class=(user!==null?'hidden' :'') ) Đăng Nhập    
        a(href=user===null?'/login':'/cart' class='bg-transparent text-white' id="cart-icon" class=(user!==null? '':'hidden')) 
          i(class='fa fa-shopping-cart p-1 hover:bg-gray-700 focus:text-gray-100')
        button(id="user-icon" class=(user!==null? '':'hidden'))
          i(class="fas fa-user-circle mt-2 ml-4 z-7 BTTsiderUser") 

        
mixin footer()
  footer.fixed.bottom-0.w-full.bg-red-500.p-1.text-lg.text-white.z-50.h-12.rounded-md
    p.text-center © 2024 My Website


mixin sider()
  sider(class=' hidden bg-red-400 border-red-300 boder-2 fixed top-16 left-0 h-4/5 py-8 w-56 z-10 toggle-content text-white text-lg ' id="SIDER" )
    ul(class='mt-8 space-y-2 mr-4')
      a(href='/' class='t text-white p-1 hover:bg-red-300 no-underline') Trang Chủ
      hr(class= 'w-3/2   h-1')
      a(href='/category' class=' text-white p-1 hover:bg-red-300  no-underline') Danh Mục Sản Phẩm
      hr(class= 'w-3/2   h-1')

mixin card(product)
  card.toFixed(3)
    div(class="card ml-8 mt-8 w-60 relative h-56 p-1" style="width: 17rem;")
      i(class=product&&product.discount>0&&product.discount<100?"bg-yellow-200 text-red-500 text-md font-semibold p-3 flex w-16 h-15 rounded-full z-5  absolute ":"hidden") #{product.discount}%
      img(src=product.imageURL[0] class="card-img-top z-4 border-1 border-red-300 w-52 h-44 mt-0" alt="")
      div(class="card-body")
        h5(class="card-title text-x h-12") #{product.name}
        p(class="card-text flex justify-around")
          span(class="text-orange-100 text-md mb-2") #{(product.price*(1-product.discount/100)).toFixed(3)} VND
        a(href=`/productDetail/${product.id}` class="bg-yellow-500 text-white px-6 py-1 rounded-md ml-10 block text-center") View Detail

mixin login(type, error)
  main(class="h-auto w-full")
            a(href="/" class="text-yellow-500 ") 
                i(class="fas fa-arrow-left m-4")
            div(class="rounded-lg w-80 md:w-2/5 h-auto md:h-2/3 bg-white shadow mx-auto my-8")
                form(class="p-1 mt-4" action='/login/signIn' method="POST")
                    input(type="hidden" ,value=type,name="type")
                    h1(class="w-5/6 ml-8 text-red-300 font-bold md:text-2xl text-xl w-6/7 text-center") 
                      | #{type==="login"? 'Đăng Nhập' : 'Đăng Kí'}
                    input(class="border-2 border-gray-300 rounded-md w-2/3 ml-12 md:ml-20 mt-6 h-6 p-2 text-lg text-gray-500 " name="username"  autocomplete="on" required placeholder="UserName")
                    p(class="w-full text-red-600 text-sm font-normal text-start m-0 px-16 md:px-24" class=((error&&Array.isArray(error)&&error[1])?'':'hidden'))
                      |#{(error&&Array.isArray(error)&&error[1])?error[1]:''}
                    input(class="border-2 border-gray-300 rounded-md w-2/3 ml-12 md:ml-20 mt-2 h-6 p-2 text-lg text-gray-500 " class=(type==="login"?"hidden":'') name="email"  autocomplete="on" required=(type==="signup"?true :false) placeholder=" Email") 
                    p(class="text-red-600 text-sm font-normal text-start w-full m-0 px-16 md:px-24" class=((error && Array.isArray(error)&&error[0])?'':'hidden')) 
                      |#{(error && Array.isArray(error)&&error[0])?error[0]:''}
                    input(class="border-2 border-gray-300 rounded-md w-2/3 ml-12 md:ml-20  mt-2 md:mt-3 h-6 p-2 text-lg text-gray-500 " name="password" type="password"  required placeholder="Password")
                    hr(class="mt-4 md:mt-6 text-red-300 w-full")
                    label(htmlFor="goole" class=" w-5/6 ml-8 h-2 md:mt-4 flex justify-center mr-8 md:text-lg text-md text-red-400 md:font-medium") Hoặc 
                    a(href="#" class=" no-underline  text-center border-2 border-gray-500 rounded-md w-3/4 ml-10 md:ml-16 flex md:mt-10  mt-6 md:mb-3 md:mt-3 md:h-10 h-8  text-md text-gray-700 "  ) 
                        img(class="ml-1 h-8 w-10 bg-transparent" src="/image/google.png")
                        span(class="text-sm mt-1 md:w-2/3 mt-1 md:font-medium  text-center ") 
                          | #{type==="login"?'Đăng Nhập':'Tiếp Tục'} Với Google
                    a( href="#" class=" no-underline  border-2 border-gray-500 rounded-md w-3/4 ml-10 md:ml-16 flex  mt-2  md:h-10 h-8  text-md text-gray-700 "  ) 
                        img(class="h-7 md:h-9 w-12 bg-transparent" src="/image/facebook.webp")
                        span(class="text-sm md:w-2/3 mt-1 md:font-medium  text-center ") 
                          | #{type==="login"?'Đăng Nhập':'Tiếp Tục'} Với Facebook
                    button(type="submit" class="text-xl    ml-20  xl:ml-52 2xl:ml-60  text-center md:ml-32 text-white bg-red-500 rounded-md p-1 font-medium h-9 w-40 mt-4") 
                      |Đăng
                      |#{type==="login" ? "Nhập" : "Kí"}
                    span(class="w-2/3 ml-16 md:ml-2/3 flex justify-end text-sm md:text-lg flex mt-4 mb-4 md:mb-8 ")
                      | #{type==="login"?'Chưa':'Đã'} có tài khoản?
                      a(href=(type==="login" ?'/signup' : '/login') class="text-red-500 font-semibold ml-1 ") 
                        | Đăng 
                        | #{type==="login" ?'Kí':'Nhập'} 

mixin headerAdmin(page)
   nav(class='bg-red-500 text-white text-lg md:text-xl p-2 fixed top-0 w-full z-50 h-20 flex')
    div(class='flex items-center justify-between w-full relative' ) 
        i(class=(page==="admin"?"hidden":"fas fa-arrow-left ml-4 mt-6 w-12 h-12 z-7" ) id="backButton")
        button(class="  w-12 h-12 z-7 absolute right-2" )
          i(class="fas fa-user-circle BTTsiderUser")
        
mixin siderUser(User)
  sider(class=' bg-red-400 border-red-300 border-2 fixed top-0 right-0 h-full py-8 w-56 z-10 text-white  text-lg hidden' id="siderUser")
                div(class=" h-auto w-full")
                    div(class='mt-10 ml-8 flex items-center justify-end  h-20')
                        |#{(User&&User.userName)?User.userName:"UN"}
                        i(class="  fas fa-user-circle mt-1 ml-2 z-50")
                    div(class=" mt-12 relative  text-md ")
                       
                        button(class="p-3 h-16 flex justify-start  hover:shadow  w-full border-t border-b border-pink-300   font-bold  hover:shadow-sm showInfoUser") Thông Tin Cá Nhân
                        div(class="absolute bg-yellow-50 top-12 right-32 z-10 h-48 w-56 text-gray-600 text-lg space-y-2 p-2 shadow hidden" id="infoUser")
                          span(class="relative w-full ")
                            i(class="fas fa-pen ml-48 showFormChangeInFo" )
                            form(class="absolute shadow bg-white top-16 right-0 px-2 h-44 w-44 hidden" action="/Edit/info" method="POST" id="formChangeInfo")
                              div(class="w-full mt-2 flex justify-end")
                                button(class="showFormChangeInFo ")
                                  i(class="fas fa-times " id="btnChangeInfo")
                              input(type="hidden" name="id" value=(User&&User.id)?User.id:"")
                              input(class="border-2 border-gray-300 rounded-md w-3/4 ml-4 mt-2 h-6 p-2 text-sm-gray-500 " name="username" value=(User&&User.userName? User.userName:"ji") autocomplete="on" required ) 
                              input(class="border-2 border-gray-300 rounded-md w-3/4 ml-4  mt-2 md:mt-3 h-6 p-2 text-sm text-gray-500 " value=(User&&User.email? User.email:null)  name="email" type="email"  autocomplete="on" )
                              button( type="submit" class="text-red-400 h-9 p-1 border-2 border-red-400 rounded-md w-18 ml-6 mt-4") chỉnh sửa
                            p(class="text-lg") userName: #{(User&&User.userName)?User.userName:"UN"}
                            p email : #{(User&&User.email)?User.email:"EM"}
                               
                       
                        button(class="p-3 h-16 flex justify-start font-bold border-t border-b border-pink-300  w-full  hover:shadow-sm relative showFormChangePass") Đổi Mật Khẩu 
                        div(class="absolute bg-white  top-12 right-24 z-15 h-48 w-56 text-gray-600 text-lg space-y-2 p-2 shadow hidden " id="formChangePass")
                          form( action="/Edit/password" method="POST" id="FormChangePass" class="h-auto w-full  space-y-3 px-2 ")
                            h5(class="flex ml-8")
                              |Đổi mật khẩu
                              i(class="fas fa-times ml-6 " id="BTNOutChangePass")
                            input(type="hidden" name="id" value=(User&&User.id)?User.id:"")
                            input(class=" mt-8 ml-8 border-2 border-gray-300 rounded-md h-7 w-32" type="password" name="oldPass" required placeholder="Mật khẩu cũ" ) 
                            p(class="text-sm w-32 px-2 font-semibold text-red-600 m-0 mx-auto  hidden" id="error_incorrect_password") Sai mật khẩu
                            input(class="border-2 ml-8 border-gray-300 rounded-md h-7 w-32 mb-6" type="password"  name="NewPass" required placeholder="Mật khẩu mới" )
                            button(class=" ml-12  w-24 rounded-md bg-red-500 text-white h-9 " type="submit" ) Đổi

                        form(action="/logout" method="POST")
                          input(type="hidden" name="id" value=(User&&User.id)?User.id:"")
                          button(type="submit" class="p-3 h-16 flex justify-start font-bold hover:shadow border-t border-b border-pink-300    hover:shadow-sm w-full") Logout
mixin note ()
   div(class=" fixed md:w-1/6 z-40 w-1/2 h-64  md:top-28 top-20 right-2 md:right-20 py-1 shadow-md px-3 space-y-3 text-red-400 bg-white ")

    h6( class="text-red-500 text-center md:text-xl text-md ") Tài Khoản Đăng Nhập
    div(class="mt-4  ml-3 relative text-sm md:text-md ")
        h6( class="font-bold m-0") Admin:
   
        h6 user6 ; user6@example.com ; password6
        
      
        
    
        h6( class="font-bold m-0") ContentAdmin:
        h6 user1 ; user1@example.com ; password1
        h6( class="font-bold m-0") User
        h6 user2 ; user2@example.com ; pass




